<mat-card>
  <mat-card-title>
    Welcome to Global FMT
  </mat-card-title>
  <mat-card-content>
    Global FMT Content Description
  </mat-card-content>
</mat-card>

<!-- <mat-card fxLayout="row" fxLayoutAlign="space-between center" style="background-color:#D0D8DF;height:56px;font-weight:bold;font-size:14px;text-transform:uppercase">
    <mat-list-item fxFlex="30">
      <span>Name</span>
    </mat-list-item>
    <mat-list-item fxFlex="30">
      <span>Priority</span>
    </mat-list-item>
    <mat-list-item fxFlex="30">
      <span>Active</span>
    </mat-list-item>
  </mat-card> -->